@using WebApplication1.Models;
@{

}
@model List<People>
<h2>QueryAll</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div id="app">
    <div>
        <input type="text" v-model="searchItem.name" />
        <input type="text" v-model="searchItem.phone_number" />
        <button type="button" class="btn btn-primary" @@click="searchData()">查詢</button>
    </div>
    <hr />
    <div>
        <input type="text" v-model="addItem.name" />
        <input type="text" v-model="addItem.phone_number" />
        <button type="button" class="btn btn-primary" @@click="addData()">新增</button>
    </div>
    <hr />
    <div>
        <input type="text" v-model="delItem.id" />
        <button type="button" class="btn btn-primary" @@click="delData()">刪除</button>
    </div>

    <hr />
    <div>
        <input type="text" v-model="editItem.id" />
        <input type="text" v-model="editItem.name" />
        <input type="text" v-model="editItem.phone_number" />
        <button type="button" class="btn btn-primary" @@click="editData()">修改</button>
    </div>


    <p>{{ msg.name }}</p>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
        <tr v-for="item in msg" :key="item.price">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.phone_number }}</td>
        </tr>
    </table>
</div>


@*<div>
        <form action="/">
            <label for="fname">Name:</label><br>
            <input type="text" id="name" name="name" value="name"><br>
            <label for="lname">Phone Number:</label><br>
            <input type="text" id="ph" name="phone_number" value="09xxx"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>*@


<ul>
    @foreach (People item in Model)
    {
        <li>@item.name</li>
    }
</ul>

<div id="app2">
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>

        @foreach (People item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.phone_number</td>
            </tr>
        }

    </table>
</div>
<script>
    function show() {
        console.log("click");

    }
    var app = new Vue({
            el: '#app',
        data: {
            searchItem: {
                name: '',
                phone_number: '',
            },
            addItem: {},
            editItem: {},
            delItem: {},
                msg: []
            },
            methods: {
                searchData() {
                    const _url = '@Url.Action("QueryAll", "People")';
                    const _data = this.searchItem;
                    console.log("serchData");
                    axios.post(_url, _data).then((res) => {
                        /*console.table(res.data)*/
                        let data = res.data;
                        this.msg = data;
                        //console.log(this.list)
                    }).catch((err) => {
                        console.error(err)
                    });
                },

                 addData() {
                    const _url = '@Url.Action("AddPeople", "People")';
                    const _data = this.addItem;

                    axios.post(_url, _data).then((res) => {
                        let data = response.data;
                        //this.searchData();
                        //this.dialog.edit_view = false;
                        console.log(data)
                    }).catch((err) => {
                        console.error(err)
                    });
                },

                 delData() {
                     const _url = '@Url.Action("DeletePeople", "People")';
                     const _data = this.delItem;

                    axios.post(_url, _data).then((res)=> {
                        let data = response.data;
                        console.log(data)
                    }).catch((err) => {
                    console.error(err)
                    });
                },

                editData() {
                    const _url = '@Url.Action("EditPeople", "People")';
                    const _data = this.editItem;
                    axios.post(_url, _data).then((res) => {
                        let data = response.data;
                        console.log(data)
                    }).catch((err) => {
                        console.error(err)
                    });
                }

            }
        })
</script>
